<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="/bootstrap/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">


    </script>
</head>
<body>
<form action="mypqge" method="post"></form>
<div class="form-floating mb-3">
    <input th:value="${Id}" class="form-control" id="Id" name="strLoginId" type="text" placeholder="name@example.com" />
</div>

<div class="form-floating mb-3">
    <input th:value="${Name}" class="form-control" id="Name" name="strLoginId" type="text" placeholder="name@example.com" />
</div>



</body>
</html>