<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.genpic_admin.mapper.Tb_common_code_mapper">
    <select id="getList" resultType="com.example.genpic_admin.domain.Manage">


        SELECT *
        from tb_common_code ;
    </select>
</mapper>
